.border-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-block: 10px;
}
.border-wrapper div {
  margin-block: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.border-wrapper div a {
  margin: 5px 10px 5px 0;
  border: none;
  background-color: var(--Elements);
  color: var(--Text);
  min-width: 80px;
  padding: 10px 10px;
  box-shadow: 0 0 20px 5px var(--Shadow);
  border-radius: 6px;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
}

.border-wrapper a:hover {
  background-color: var(--ElementsHover);
}

.border-wrapper a:active {
  opacity: 70%;
}

@media (max-width: 1070px) {
  .border-wrapper a:hover {
    background-color: var(--Elements);
  }

  .border-wrapper {
    align-self: center;
  }

  .border-wrapper p {
    align-self: center;
  }

  .border-wrapper div {
    max-width: 400px;
    justify-content: center;
  }
}
