.filter-container {
  padding-block: 25px;
  margin-block: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* search */
.search-total-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-block: 7px;
}

.search-input-container {
  background-color: var(--Elements);
  height: 100%;
  width: min(82vw, 400px);
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0 20px 5px var(--Shadow);
  border-radius: 5px;
}

.search-input-container span {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input-container span svg {
  color: var(--Input);
}

.search-input-container input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  padding-block: 10px;
  color: var(--Input);
  height: 100%;
  width: 100%;
}

.search-input-container input::placeholder {
  color: var(--Input);
}

.total-container {
  color: var(--Text);
  margin: 10px;
}

/* .total-container h3 {
  font-size: min(3vw, 20px);
} */

.filters-menu {
  display: none;
}

/* select */

.select-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-block: 7px;
}

.select-input-container {
  position: relative;
  display: flex;
  padding: 3px;
  height: 50px;
  box-shadow: 0 0 20px 5px var(--Shadow);
  background-color: var(--Elements);
  border-radius: 5px;
}

.select-input-container label {
  color: var(--Text);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 10px;
  pointer-events: none;
  border-right: 1px solid var(--Background);
}

.select-input-container select {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
  padding-inline: 15px;
  background-color: var(--Elements);
  color: var(--Text);
  border-radius: 5px;
  height: 100%;
  width: 200px;
  cursor: pointer;
  transition: 0.5s;
}

.select-input-container select:hover {
  background-color: var(--ElementsHover);
}

.select-input-container select:active {
  opacity: 50%;
}

.select-input-container span {
  position: absolute;
  width: 40px;
  height: 100%;
  pointer-events: none;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Text);
}

/* clear button */
.clear-button {
  padding-inline: 15px;
  outline: none;
  border: none;
  box-shadow: 0 0 20px 5px var(--Shadow);
  border-radius: 5px;
  background-color: var(--Elements);
  color: var(--Text);
  cursor: pointer;
  transition: 0.5s;
}

.clear-button:hover {
  background-color: var(--ElementsHover);
}

.clear-button:active {
  opacity: 50%;
}

@media (max-width: 1070px) {
  .filter-container {
    align-items: center;
  }

  .search-total-container {
    flex-direction: column;
  }

  .search-input-container {
    height: 40px;
    max-width: 360px;
  }

  /* filters menu */
  .filters-menu {
    display: block;
    margin-block: 7px;
    width: 150px;
  }

  .filters-menu button {
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: var(--Elements);
    border: none;
    border-radius: 5px;
    color: var(--Text);
    cursor: pointer;
  }

  .filters-menu button:hover {
    background-color: var(--ElementsHover);
  }

  .filters-menu button:active {
    opacity: 50%;
  }

  .filters-menu button span:nth-child(1) {
    flex: 1;
    text-align: start;
  }

  .select-wrapper-closed {
    display: none;
  }

  .select-wrapper-open {
    display: flex;
    flex-direction: column;
    max-width: 360px;
  }

  .select-input-container {
    max-width: 360px;
    height: 40px;
  }

  .select-input-container label {
    flex: 1;
    justify-content: flex-start;
    min-width: 80px;
  }

  .select-input-container select {
    width: min(60vw, 200px);
    min-width: 160px;
  }

  .clear-button {
    max-width: 360px;
    height: 40px;
  }
}

/* @media (max-width: 460px) {
  .total-container h3 {
    font-size: 16px;
  }

  .search-input-container {
    max-width: 190px;
  }
} */
