:root {
  --Background: hsl(207, 26%, 17%);
  --Elements: hsl(209, 23%, 22%);
  --ElementsHover: hsl(209, 18%, 28%);
  --Shadow: hsl(209, 34%, 14%);
  --Text: hsl(0, 0%, 100%);
  --Input: hsl(0, 2%, 76%);
  --LoadingGradient: linear-gradient(
    to right,
    hsl(208, 14%, 38%),
    hsl(209, 18%, 28%)
  );
}

[data-theme="light"] {
  --Background: hsl(0, 0%, 93%);
  --Elements: hsl(0, 0%, 100%);
  --ElementsHover: hsl(0, 3%, 94%);
  --Shadow: hsl(0, 0%, 81%);
  --Text: hsl(200, 15%, 8%);
  --Input: hsl(0, 0%, 52%);
  --LoadingGradient: linear-gradient(
    to right,
    hsl(0, 0%, 83%),
    hsl(0, 3%, 94%)
  );
}
